@import url("https:fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
    --main-color: #0ca0ce;
    --second-color: #7c7575;
    --dark-color: #151a31;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}
body {
    background: #10162a !important;
    position: relative;
}
h1,
h4,
p,
a {
    color: #ffff;
    text-decoration: none;
}
ul {
    list-style-type: none;
}
.app {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}
.navbar {
    .navbar-toggler {
        border-color: white;
        i {
            color: white;
        }
        &:focus {
            box-shadow: none;
        }
    }
    .navbar-brand {
        display: flex;
        h1 {
            font-size: 32px;
            font-weight: bold;
            letter-spacing: 2px;
            padding-left: 10px;
            color: white;
        }
        img {
            width: 35px;
            height: 35px;
        }
    }
    .navbar-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        li {
            a {
                color: white;
                font-size: 20px;
                text-transform: capitalize;
                &:hover {
                    color: var(--main-color);
                    border-bottom: 2px solid var(--main-color);
                }
            }
        }
        .nav-link.active {
            color: var(--main-color);
        }
    }
}
.home-container {
    color: #fff;
    .content {
        p {
            font-size: 20px;
            color: var(--second-color);
            text-transform: capitalize;
        }
        h1 {
            text-transform: capitalize;
            padding: 15px 0;
            font-size: 50px;
            span {
                color: var(--main-color);
                font-family: sans-serif;
            }
        }
        input {
            margin: 15px 10px;
            width: 400px;
            height: 70px;
            outline: 0;
            font-size: 20px;
            padding: 20px 19px;
            border: 2px solid #0dc7d7;
            border-radius: 15px;
            background: var(--second-color);
            color: #fff;
            &::placeholder {
                color: #a99e9e;
            }
        }
    }
    .image {
        border: 3px solid #0dc7d7;
    }
}
.topics-container {
    height: 300px;
    background: transparent;
    border: 0;
    border-radius: 20px;
    background-color: var(--dark-color);
    .content {
        h1 {
            color: white;
            text-transform: capitalize;
        }
        p {
            color: var(--second-color);
        }
        .controller {
            margin-top: 16px;
            i {
                transition: 0.5s;
                cursor: pointer;
                margin: 0 2px;
                padding: 10px;
                border-radius: 50%;
                background-color: #a0a9bd;
                color: white;
                &:hover {
                    transform: scale(0.9);
                    background-color: var(--main-color);
                }
            }
        }
    }
    .slider {
        overflow: hidden;
        --slider-items: 1;
        .slider-container {
            display: flex;
            align-items: center;
            gap: 35px;
            transition: transform 0.5s;
            li {
                min-width: 100%;
                height: 100%;
                position: relative;
                img {
                    position: absolute;
                    border-radius: 12px;
                    filter: brightness(0.8);
                }
                .detail {
                    position: absolute;
                    z-index: 10;
                    top: 160px;
                    left: 10px;
                    h1 {
                        color: white;
                        text-transform: capitalize;
                        font-size: 21px;
                    }
                    p {
                        color: var(--second-color);
                    }
                }
            }
        }
    }
}

#featuredContainer {
    width: 100%;
    margin: 175px 0;
    .title {
        color: #0dc7d7;
        text-transform: capitalize;
        font-weight: bold;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
        padding-left: 2rem;
    }
    p {
        font-size: 15px;
        padding: 10px 0;
        color: #7c7575;
        padding-left: 2rem;
    }
    .posts-container {
        margin: 90px 0;
        .post {
            background-color: var(--dark-color);
            height: 450px;
            border-radius: 10px;
            padding: 20px;
            transition: 0.5s;
            &:hover {
                transform: translateY(3px);
            }
            .image {
                width: 100%;
                height: 180px;
                margin-bottom: 20px;
                img {
                    border-radius: 15px;
                    width: 100%;
                    height: 100%;
                }
            }
            .time {
                width: 100%;
                color: #7c7575;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 20px 0;
                .post-tag {
                    text-transform: capitalize;
                }
                .time-read {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    i {
                        margin-right: 3px;
                    }
                }
            }
            div h1 {
                color: white;
                text-decoration: none;
                font-size: 19px;
                font-family: math;
                margin-top: 15px;
                transition: 0.4s;
                cursor: pointer;
                &:hover {
                    color: #0dc7d7;
                }
            }
            .profile {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 30px;
                .personal-profile {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #7c7575;
                    .profile-img {
                        width: 60px;
                        height: 60px;
                        margin-right: 7px;
                        img {
                            width: 100%;
                            height: 100%;
                            border-radius: 50%;
                        }
                    }
                }
                .readMore {
                    color: #7c7575;
                }
            }
        }
    }
    .showBtn {
        width: 240px;
        height: 70px;
        border-radius: 20px;
        background-color: #0dc7d7;
        border: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #eee;
        font-size: 20px;
        text-transform: capitalize;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        cursor: pointer;
        &:hover {
            box-shadow: 0 0 15px 2px #0dc7d7;
        }
        i {
            padding-left: 5px;
        }
    }
}
#important-tags {
    margin: 200px 0;
    .tags-title {
        text-transform: capitalize;
        margin: 60px 0;
        h1 {
            font-size: 36px;
            color: #0dc7d7;
            margin: 15px 0;
        }
        p {
            font-size: 25px;
        }
    }
    .tags-list {
        div {
            background-color: var(--dark-color);
            padding: 15px;
            border-radius: 20px;
            color: #fff;
            font-size: 20px;
            text-transform: capitalize;
            border: 0;
            display: flex;
            align-items: center;
            transition: 0.5s;
            img {
                width: 70px;
                height: 70px;
                border-radius: 50%;
                margin-right: 10px;
            }
            &:hover {
                box-shadow: 0 0 15px 2px seagreen;
                transform: scale(1.1);
            }
        }
    }
}
#fav-posts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    margin: 60px 0;
    flex-direction: column;
    .recent-posts {
        width: 70%;
        .recent-posts-title {
            margin: 40px 0;
            h1 {
                color: #0dc7d7;
                text-transform: capitalize;
                font-size: 35px;
            }
            p {
                color: #7c7575;
                font-size: 20px;
                font-weight: bold;
                margin-top: 5px;
            }
        }
        .recentPostsList {
            display: flex;
            flex-direction: column;
            gap: 30px;
            li {
                width: 100%;
                height: 289px;
                display: flex;
                justify-content: space-between;
                align-self: center;
                gap: 20px;
                background-color: transparent;
                .image {
                    width: 40%;
                    height: 100%;
                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 10px;
                        object-fit: cover;
                    }
                }
                .content {
                    width: 60%;
                    h3 {
                        color: #fff;
                        text-transform: capitalize;
                        background-color: rgba(136, 136, 136, 0.2588235294);
                        border-radius: 20px;
                        margin: 10px 0;
                        width: 180px;
                        height: 40px;
                        padding: 8px 0;
                        text-align: center;
                        font-size: 1.2rem;
                        cursor: pointer;
                        &:hover{
                            color: var(--main-color);
                        }
                    }
                    h1 {
                        text-transform: capitalize;
                        font-size: 23px;
                        color: #fff;
                        font-weight: 700;
                        margin: 15px 0;
                    }
                    p {
                        color: #ab9c9c;
                        font-size: 18px;
                    }
                    .time {
                        width: 100%;
                        color: #7c7575;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        .post-tag {
                            text-transform: capitalize;
                        }
                        .time-read {
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            i {
                                margin-right: 3px;
                            }
                        }
                    }
                }
            }
        }
    }
    .popular-posts {
        width: 50%;
        background-color: var(--dark-color);
        padding-right: 15px;
        padding-left: 15px;
        border-radius: 20px;
        text-align: center;
        .popular-posts-title {
            border-bottom: 2px solid var(--main-color);
            font-size: 30px;
            color: #0dc7d7;
            width: 50%;
            height: 60px;
            font-weight: 600;
            margin: 10px 0;
            padding: 10px 0;
            text-transform: capitalize;
        }
        .posts-list {
            li {
                width: 100%;
                height: 110px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 15px;
                .image {
                    img {
                        width: 60px;
                        height: 60px;
                        border-radius: 50%;
                    }
                }
                .content-post {
                    border-bottom: 2px solid var(--second-color);
                    h1 {
                        color: white;
                        text-decoration: none;
                        font-size: 17px;
                        margin: 10px 0;
                    }
                    .time-posted {
                        color: #7c7575;
                        span {
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
    }
    .myPage {
        width: 50%;
        height: 400px;
        background-color: var(--dark-color);
        border-radius: 10px;
        padding: 20px;
        text-align: center;
        div {
            display: flex;
            justify-content: center;
            img {
                width: 50px;
                height: 50px;
            }
            h1 {
                padding-left: 5px;
                color: var(--main-color);
            }
        }
        p {
            color: var(--second-color);
            font-size: 20px;
        }
        .imagesList {
            display: grid;
            grid-template-columns: repeat(3, 70px);
            grid-template-rows: repeat(3, 70px);
            gap: 20px;
            justify-content: center;
            li {
                img {
                    &:hover {
                        box-shadow: 0 0 15px 2px seagreen;
                    }
                    width: 100%;
                    height: 100%;
                    border-radius: 20px;
                }
            }
        }
    }
}
#footer {
    width: 100%;
    margin: auto;
    height: 600px;
    background-color: var(--dark-color);
    border-radius: 20px;
    .top-content {
        width: 90%;
        margin: auto;
        height: 90%;
        display: flex;
        justify-content: space-between;
        align-items: start;
        gap: 15px;
        padding: 30px;
        .title {
            display: flex;
            justify-content: start;
            align-items: center;
            margin-bottom: 20px;
            h1 {
                font-size: 30px;
                color: white !important;
                padding-top: 10px;
                text-transform: capitalize;
                padding-left: 7px;
            }
            img {
                width: 40px;
                height: 40px;
                margin-top: 10px;
            }
        }
        .details {
            color: var(--second-color);
            font-size: 1.3rem;
            font-weight: 400;
        }
        .address {
            margin-top: 20px;
            h1 {
                text-transform: capitalize;
                font-size: 1.8rem;
                color: white;
            }
            p {
                margin-bottom: 5px;
                color: var(--second-color);
            }
        }
        .categories {
            text-align: center;
            h1 {
                text-transform: capitalize;
                font-size: 1.8rem;
                color: white;
            }
            ul {
                padding: 20px 0;
                li {
                    color: var(--second-color);
                    font-size: 20px;
                    padding: 10px 0;
                    text-transform: capitalize;
                }
            }
        }
        .login {
            text-align: center;
            position: relative;
            h1 {
                text-transform: capitalize;
                font-size: 1.8rem;
                color: white;
            }
            p {
                color: var(--second-color);
                font-size: 1.3rem;
                font-weight: 400;
                padding: 10px 0;
            }
            .user-input {
                margin-block-end: 24px;
                position: relative;
                .input-filed {
                    background-color: transparent;
                    border: 0;
                    padding: 12px;
                    padding-inline-start: 25px;
                    border-bottom: 1px solid var(--second-color);
                    color: white;
                    font-size: 1.3rem;
                    &:focus {
                        outline: 0;
                    }
                    &::-webkit-input-placeholder {
                        color: inherit;
                        opacity: 0.5;
                    }
                }
                i {
                    position: absolute;
                    left: 15px;
                    top: 40%;
                    transform: translateX(-40%);
                    color: var(--second-color);
                    stroke-width: 40px;
                }
            }
            .submit {
                background: var(--main-color);
                display: inline-block;
                margin: 5px;
                padding: 10px;
                border-radius: 10px;
                text-decoration: none;
                color: white;
                &:hover {
                    opacity: 0.9;
                }
            }
        }
    }
    .bottom-content {
        width: 80%;
        margin: auto;
        height: 10%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .copyRight {
            font-size: 1.4rem;
            color: var(--second-color);
            display: flex;
            i {
                font-size: 1rem;
                padding-top: 7px;
            }
            a {
                color: #0dc7d7;
                font-style: italic;
                margin-left: 10px;
                text-decoration: none;
            }
        }
        .social-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 30px;
            li {
                display: flex;
                align-items: center;
                gap: 8px;

                color: var(--second-color);
                padding-right: 10px;
            }
        }
    }
}
.up {
    position: fixed;
    bottom: 10px;
    right: -40px;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    font-size: 12px;
    padding: 15px;
    border-radius: 20px;
    font-family: Arial, Tahoma;
    cursor: pointer;
    transition: 0.2s;
    &:hover {
        opacity: 0.8;
    }
}
.up.show {
    right: 10px;
}
@media (max-width: 576px) {
    .home-container {
        .content {
            h1 {
                font-size: 35px;
            }
        }
    }
    #topics {
        .topics-container {
            height: 500px;
            border: 0;
            margin-top: 45px;
            .slider {
                height: 50%;
                margin-left: 20px;
            }
        }
    }
    #fav-posts {
        .recent-posts {
            width: 100%;
            .recent-posts-title {
                margin: 20px 0;
            }
            .recentPostsList {
                flex-direction: column;
                gap: 40px;
                li {
                    width: 100%;
                    height: 570px;
                    gap: 20px;
                    border-radius: 10px;
                    align-items: start;
                    flex-direction: column;
                    background-color: var(--dark-color);
                    .image {
                        width: 100%;
                        height: 200px;
                    }
                    .content {
                        width: 100%;
                        padding: 10px;
                    }
                }
            }
        }
        .popular-posts {
            width: 100%;
            background-color: var(--dark-color);
            padding-right: 15px;
            padding-left: 15px;
            border-radius: 20px;
            text-align: center;
            .popular-posts-title {
                width: 60%;
            }
        }
        .myPage {
            width: 100%;
        }
        #footer {
            height: 700px;
            background-color: var(--dark-color);
            border-radius: 20px;
            .top-content {
                width: 90%;
                margin: auto;
                height: 90%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 15px;
                padding: 30px;
                .title {
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    margin-bottom: 20px;
                    h1 {
                        font-size: 30px;
                        color: white !important;
                        padding-top: 10px;
                        text-transform: capitalize;
                        padding-left: 7px;
                    }
                    img {
                        width: 40px;
                        height: 40px;
                        margin-top: 10px;
                    }
                }
                .details {
                    color: var(--second-color);
                    font-size: 1.3rem;
                    font-weight: 400;
                }
                .address {
                    margin-top: 20px;
                    h1 {
                        text-transform: capitalize;
                        font-size: 1.8rem;
                        color: white;
                    }
                    p {
                        margin-bottom: 5px;
                        color: var(--second-color);
                    }
                }
                .categories {
                    text-align: center;
                    h1 {
                        text-transform: capitalize;
                        font-size: 1.8rem;
                        color: white;
                    }
                    ul {
                        padding: 20px 0;
                        li {
                            color: var(--second-color);
                            font-size: 20px;
                            padding: 10px 0;
                            text-transform: capitalize;
                        }
                    }
                }
                .login {
                    text-align: center;
                    position: relative;
                    h1 {
                        text-transform: capitalize;
                        font-size: 1.8rem;
                        color: white;
                    }
                    p {
                        color: var(--second-color);
                        font-size: 1.3rem;
                        font-weight: 400;
                        padding: 10px 0;
                    }
                    .user-input {
                        margin-block-end: 24px;
                        position: relative;
                        .input-filed {
                            background-color: transparent;
                            border: 0;
                            padding: 12px;
                            padding-inline-start: 25px;
                            border-bottom: 1px solid var(--second-color);
                            color: white;
                            font-size: 1.3rem;
                            &:focus {
                                outline: 0;
                            }
                            &::-webkit-input-placeholder {
                                color: inherit;
                                opacity: 0.5;
                            }
                        }
                        i {
                            position: absolute;
                            left: 15px;
                            top: 40%;
                            transform: translateX(-40%);
                            color: var(--second-color);
                            stroke-width: 40px;
                        }
                    }
                    .submit {
                        background: var(--main-color);
                        display: inline-block;
                        margin: 5px;
                        padding: 10px;
                        border-radius: 10px;
                        text-decoration: none;
                        color: white;
                        &:hover {
                            opacity: 0.9;
                        }
                    }
                }
            }
            .bottom-content {
                width: 80%;
                margin: auto;
                height: 10%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .left {
                    font-size: 1.4rem;
                    color: var(--second-color);
                    span {
                        color: #0dc7d7;
                        font-style: italic;
                    }
                }
                ul {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    li {
                        color: var(--second-color);
                        padding-right: 10px;
                    }
                }
            }
        }
    }
    #footer {
        height: 1500px;
        .top-content {
            display: block;
            .categories {
                text-align: start;
                margin-top: 15px;
            }
        }
        .bottom-content {
            width: 100%;
            padding: 10px;
            display: block;
            text-align: center;
            .copyRight {
                color: var(--second-color);
                a {
                    color: #0dc7d7;
                    font-style: italic;
                    text-decoration: none;
                }
            }
            .social-list {
                display: flex;
                justify-content: space-between;
                align-items: center;
                li {
                    color: var(--second-color);
                    padding-right: 10px;
                }
            }
        }
    }
}
@media (min-width: 768px) {
    .home-container {
        .image {
            border: none;
        }
    }
}
